.btn {
    padding: .4em .6em;
    margin: .2em;
    background-color: #fff;
    color: #000;
    transition: all .5s;
    border: 1px solid #000;
    text-decoration: none;
}
.btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.hw__title {
    font-size: larger;
}
.content__title {
    font-size: large;
    margin: 1em 0;
    font-family: 'Times New Roman', Times, sans-serif;
}
.content__auth {
    margin-top: 20px;
}
.content__user {
    display: none;
}
.content__notes {
    display: none;
}
.popup {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.popup:target {
    visibility: visible;
    opacity: 1;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: .5s all;
}
.form {
    border: 1px solid #000;
    border-radius: 5px 5px 0% 0%;
    background-color: #fff;
}
.form__up {
    width: 100%;
    opacity: initial;
    height: 2.3em;
    background-color: rgba(70,70,72,255);
    border-radius: 5px 5px 0% 0%;
    color: white;
    font-family: sans-serif;
}
.up__label {
    display: float;
    float: left;
    padding: .3em .1em;
}
.form__close {
    display: float;
    float: right;
    color: white;
    padding-top: .5em;
}
.form__block {
    color: rgba(156,156,156,255);
    padding: 10px 1em;
    font-family: sans-serif;
}
.form__label {
    display: block;
    margin-bottom: .1em;
}
.max-width_items {
    width: 100%;
    padding: 6px 10px;
    margin: .2em 0;
    display: inline-block;
    border: 1px solid rgba(154,154,154,255);
    border-radius: 4px;
    box-sizing: border-box;
}
#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .3em 0em;
    font-size: large;
    border-radius: solid;
    margin-top: .2em;
    margin-bottom: 1em;
}